OPENAI_API_KEY=your_openai_api_key_here
RAG_SOURCE_URL=https://en.wikipedia.org/wiki/Cooking
##-proj-WXYmFux9jeDjf8rniA6BF4T-zjkOL9ujzHx8JBIq4Zxj0SRXWnNTCwhQk1pgovMH-hOktmChiET3BlbkFJsuLmmvV8Y63KDqDDDA7CmQyw-xwH4zwy6v7yGcuMZUz3Qh2I0yQnpTcie4SBsQPbN_dY0Bt9oA##
